<!-- Section: Content Heading -->
<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Section: Flash Message Display -->
<%# messages() %>

<!-- Section: Inventory Grid Display -->
<%- grid %>
